CREATE DATABASE [CSDL_TOUR]
GO
USE [CSDL_TOUR]
GO
/****** Object:  Table [dbo].[Bill]    Script Date: 1/7/2022 4:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bill](
	[IDOrder] [int] NOT NULL,
	[IDTour] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[PaymentMethod] [nvarchar](50) NOT NULL,
	[Note] [nvarchar](300) NULL,
	[StatusDelete] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDTour] ASC,
	[IDOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 1/7/2022 4:35:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[IDCategory] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](200) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Images] [text] NULL,
	[StatusDelete] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCategory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 1/7/2022 4:35:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[IDNews] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Images] [text] NULL,
	[Descriptions] [ntext] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDNews] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 1/7/2022 4:35:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[IDOrder] [int] IDENTITY(1,1) NOT NULL,
	[IDUser] [int] NOT NULL,
	[BookingDate] [datetime] NOT NULL,
	[StatusDelete] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tour]    Script Date: 1/7/2022 4:35:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tour](
	[IDTour] [int] IDENTITY(1,1) NOT NULL,
	[TourName] [nvarchar](200) NOT NULL,
	[Addresss] [nvarchar](200) NOT NULL,
	[Cost] [int] NOT NULL,
	[Images] [text] NULL,
	[Statuss] [nvarchar](30) NOT NULL,
	[ShortDescription] [nvarchar](500) NOT NULL,
	[DetailDescription] [nvarchar](1000) NOT NULL,
	[IDCategory] [int] NOT NULL,
	[NumberDateTour] [int] NOT NULL,
	[NumberBooked] [int] NOT NULL,
	[StatusDelete] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDTour] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 1/7/2022 4:35:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[IDUser] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](30) NOT NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[PhoneNumber] [nvarchar](15) NOT NULL,
	[Passwords] [nvarchar](50) NOT NULL,
	[Roles] [int] NOT NULL,
	[StatusDelete] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Bill] ([IDOrder], [IDTour], [Quantity], [PaymentMethod], [Note], [StatusDelete]) VALUES (1, 2, 1, N'Thanh toán bằng thẻ', N'', 1)
INSERT [dbo].[Bill] ([IDOrder], [IDTour], [Quantity], [PaymentMethod], [Note], [StatusDelete]) VALUES (4, 2, 1, N'Thanh toán trực tiếp', N'', 1)
INSERT [dbo].[Bill] ([IDOrder], [IDTour], [Quantity], [PaymentMethod], [Note], [StatusDelete]) VALUES (2, 3, 1, N'Thanh toán trực tiếp', N'', 1)
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([IDCategory], [CategoryName], [Quantity], [Images], [StatusDelete]) VALUES (1, N'Tour Du lịch Bắc Trung Bộ', 10, N'BacTrungBo.jpg', 1)
INSERT [dbo].[Category] ([IDCategory], [CategoryName], [Quantity], [Images], [StatusDelete]) VALUES (2, N'Tour Du lịch Đông Bắc Bộ', 8, N'DongBacBo.jpg', 1)
INSERT [dbo].[Category] ([IDCategory], [CategoryName], [Quantity], [Images], [StatusDelete]) VALUES (3, N'Tour Du lịch Tây Bắc Bộ', 6, N'TayBacBo.jpg', 1)
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[News] ON 

INSERT [dbo].[News] ([IDNews], [Title], [Images], [Descriptions]) VALUES (1, N'Du lịch Hà Giang đừng quên trải nghiệm 3 điều này', N'Title1.jpg', N'Nhắc đến vùng Đông Bắc ắt hẳn nhiều người sẽ nghĩ ngay đến Hà Giang - mảnh đất địa đầu Tổ quốc vừa hùng vĩ vừa thơ mộng với những ngọn núi đá tai mèo cao vút, những cánh hoa hoa cải vàng ươm, hoa tam giác mạch quyến rũ')
INSERT [dbo].[News] ([IDNews], [Title], [Images], [Descriptions]) VALUES (2, N'5 quán cà phê trang trí Noel đẹp ở Sài Gòn', N'Title2.jpg', N'Dù còn gần nữa tháng nữa mới đến Noel 2021 nhưng đã có khá nhiều quán cà phê ở Sài Gòn khoác “màu áo mới” ngập tràn không khí Giáng sinh, khiến hàng trăm bạn trẻ nô nức “đứng ngồi không yên” tìm đến check-in. Nếu muốn “bắt trend” mà chưa biết nên đi đâu thì cứ đến 5 quán cà phê trang trí Noel đẹp ở Sài Gòn này nhé')
INSERT [dbo].[News] ([IDNews], [Title], [Images], [Descriptions]) VALUES (3, N'Tháng 11 12 đi du lịch ở đâu? Top 10 điển đến hot cuối năm', N'Title3.jpg', N'Khi những cơn gió lạnh đầu đông tràn về cũng là lúc du lịch trong nước trở nên sôi động hơn. Khắp nơi mọi trên dãy đất hình chữ S Việt Nam khoác lên mình chiếc áo mới đẹp lạ kỳ. Và nếu bạn vẫn đang băn khoăn tìm kiếm một địa điểm du lịch thú vị vào dịp cuối năm tháng 11 12 này, đừng bỏ lỡ top 10 sau đây nhé!')
SET IDENTITY_INSERT [dbo].[News] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([IDOrder], [IDUser], [BookingDate], [StatusDelete]) VALUES (1, 9, CAST(N'2022-01-06T20:39:53.360' AS DateTime), 1)
INSERT [dbo].[Orders] ([IDOrder], [IDUser], [BookingDate], [StatusDelete]) VALUES (2, 9, CAST(N'2022-01-06T20:41:00.287' AS DateTime), 1)
INSERT [dbo].[Orders] ([IDOrder], [IDUser], [BookingDate], [StatusDelete]) VALUES (3, 7, CAST(N'2022-01-06T20:43:04.237' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Tour] ON 

SET IDENTITY_INSERT [dbo].[Tour] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([IDUser], [UserName], [FullName], [Email], [PhoneNumber], [Passwords], [Roles], [StatusDelete]) VALUES (1, N'anhle', N'Lê Thị Ngọc Ánh', N'anhle@gmail.com', N'012345678', N'anhle2000', 1, 1)
INSERT [dbo].[Users] ([IDUser], [UserName], [FullName], [Email], [PhoneNumber], [Passwords], [Roles], [StatusDelete]) VALUES (2, N'thanhtran', N'Trần Thị Phương Thanh', N'thanhtran@gmail.com', N'0456127893', N'thanhtran2000', 1, 1)
INSERT [dbo].[Users] ([IDUser], [UserName], [FullName], [Email], [PhoneNumber], [Passwords], [Roles], [StatusDelete]) VALUES (3, N'toanta', N'Tạ Văn Toàn', N'toanta@gmail.com', N'0894765123', N'toanta2000', 1, 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Category__8517B2E0520902E8]    Script Date: 1/7/2022 4:35:29 AM ******/
ALTER TABLE [dbo].[Category] ADD UNIQUE NONCLUSTERED 
(
	[CategoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__News__2CB664DC3D64CE1F]    Script Date: 1/7/2022 4:35:29 AM ******/
ALTER TABLE [dbo].[News] ADD UNIQUE NONCLUSTERED 
(
	[Title] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__C9F2845601A9D412]    Script Date: 1/7/2022 4:35:29 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bill] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Bill] ADD  DEFAULT ((1)) FOR [StatusDelete]
GO
ALTER TABLE [dbo].[Category] ADD  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Category] ADD  DEFAULT ((1)) FOR [StatusDelete]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [BookingDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((1)) FOR [StatusDelete]
GO
ALTER TABLE [dbo].[Tour] ADD  DEFAULT ((0)) FOR [Cost]
GO
ALTER TABLE [dbo].[Tour] ADD  DEFAULT ((0)) FOR [NumberDateTour]
GO
ALTER TABLE [dbo].[Tour] ADD  DEFAULT ((0)) FOR [NumberBooked]
GO
ALTER TABLE [dbo].[Tour] ADD  DEFAULT ((1)) FOR [StatusDelete]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [Roles]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [StatusDelete]
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD FOREIGN KEY([IDOrder])
REFERENCES [dbo].[Orders] ([IDOrder])
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD FOREIGN KEY([IDTour])
REFERENCES [dbo].[Tour] ([IDTour])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([IDUser])
REFERENCES [dbo].[Users] ([IDUser])
GO
ALTER TABLE [dbo].[Tour]  WITH CHECK ADD FOREIGN KEY([IDCategory])
REFERENCES [dbo].[Category] ([IDCategory])
GO

