
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" />
</head>

<div class="hero-wrap js-fullheight" style="background-image: url('../../wwwroot/images/bg_2.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-9 text-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="@Url.Action("Index", "VietTravel")">Trang chủ</a></span> <span>Về chúng tôi</span></p>
                <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Về chúng tôi</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-12">
                <div style="font-weight: 600; font-size: 18px">
                    <p>VietTravel - Do nhóm sinh viên Trường Đại Học Công Nghiệp Hà Nội thiết kế</p>
                    <p>Chúng tôi đáp ứng một số nhu cầu của khách hàng như: xem tour, đặt tour và xem tin tức</p>
                    <br /> <br />
                </div>
            </div>
            <div class="col-md-12">
                <h3>Thông tin đội ngũ thiết kế, lập trình</h3> <br />
            </div>
            <div class="col-md-3 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch" style="width: 270px; border-radius: 20px">
                    <a href="blog-single.html" class="block-20" style="background-image: url('../../wwwroot/images/imgOverView/LeAnh.jpg'); border-radius: 20px">
                    </a>
                    <div class="text p-4 d-block">
                        <h3 class="heading mt-3"><a href="#">LÊ THỊ NGỌC ÁNH</a></h3>
                        <div class="meta mb-3">
                            <div><a href="#">Thái Bình</a></div>
                            <div><a href="#">Admin</a></div>
                            @*<div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>*@
                        </div>
                        <div><i class="fas fa-envelope"></i><br />mslethingocanh@gmail.com</div>
                        <div><i class="fas fa-phone-square-alt"></i><br />0866 145 261</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch" style="width: 270px; border-radius: 20px">
                    <a href="blog-single.html" class="block-20" style="background-image: url('../../wwwroot/images/imgOverView/PhanQuy.jpg'); border-radius: 20px">
                    </a>
                    <div class="text p-4 d-block">
                        <h3 class="heading mt-3"><a href="#">PHAN THỊ QUÝ</a></h3>
                        <div class="meta mb-3">
                            <div><a href="#">Hà Tĩnh</a></div>
                            <div><a href="#">Admin</a></div>
                            @*<div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>*@
                        </div>
                        <div><i class="fas fa-envelope"></i><br />phanthiquy1408@gmail.com</div>
                        <div><i class="fas fa-phone-square-alt"></i><br />0918 982 240</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch" style="width: 270px; border-radius: 20px">
                    <a href="blog-single.html" class="block-20" style="background-image: url('../../wwwroot/images/imgOverView/TranThanh.jpg'); border-radius: 20px">
                    </a>
                    <div class="text p-4 d-block">
                        <h3 class="heading mt-3"><a href="#">TRẦN THỊ <br />PHƯƠNG THANH</a></h3>
                        <div class="meta mb-3">
                            <div><a href="#">Bắc Giang</a></div>
                            <div><a href="#">Admin</a></div>
                            @*<div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>*@
                        </div>
                        <div><i class="fas fa-envelope"></i><br />phuongthanh061120@gmail.com</div>
                        <div><i class="fas fa-phone-square-alt"></i><br />0384 129 499</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch" style="width: 270px; border-radius: 20px">
                    <a href="blog-single.html" class="block-20" style="background-image: url('../../wwwroot/images/imgOverView/TaToan.jpg'); border-radius: 20px">
                    </a>
                    <div class="text p-4 d-block">
                        <h3 class="heading mt-3"><a href="#">TẠ VĂN TOÀN</a></h3>
                        <div class="meta mb-3">
                            <div><a href="#">Ninh Bình</a></div>
                            <div><a href="#">Admin</a></div>
                        </div>
                        <div><i class="fas fa-envelope"></i><br />toanta26042000@gmail.com</div>
                        <div><i class="fas fa-phone-square-alt"></i><br />0866 910 323</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
